:root {
--color-brend: #2B7FFF;
--color-primary: #011C44;
--color-primary-light: #ffffff;
;
}

/* Base */
ul{
    list-style-type: none;
}

* {
    box-sizing: content-box;
}

body {
    margin: 0;
    color: var(--color-primary);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    /* line-height: 1.5; */
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
} 

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Links */
.header__nav-link:hover,
.header__social-networks:hover,
.footer__nav-link:hover,
.footer__address-link:hover,
.footer__social-networks:hover {
    color: var(--color-brend);
}

/* Button */
.hero__button,
.contacts__button {
    background-color: var(--color-brend);
    border: var(--color-brend);
    border-radius: 32px;
    color: var(--color-primary-light);
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.1px;
    padding: 16px 32px;
}

/* Logo */
 .logo {
    width: 74px;
    height: 42px;
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 32px 0;
}

.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header__nav-menu{
    display: flex;
    align-items: center;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.header__soc-menu {
    display: flex;
    align-items: center;
    gap: 32px
}

.header__nav-link, .header__social-networks {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: left;
}

/* Sections */
.section {
 padding: 48px 0;
}

.section-title {
    margin-bottom: 48px;
    color: var(--color-primary);
    font-family: "Play", 'beauty landing 2/Н1', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 64px;
    line-height: 74.05px;

}

.accent {
    color: var(--color-brend);
}

.text-accent {
    font-weight: 600;
    text-transform: capitalize;
}

/* Hero section */
.hero-section {
    padding: 48px 0;
}

.hero__title {
    margin-bottom: 0;
    color: var(--color-brend);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 114px;
}

.hero__text {
    font-size: 18px;
    line-height: 21.1px;
}

.hero__small-text,
.contacts__small-text {
    color: #4A4A4A;
    font-style: 'beuty indian 2/H7';
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

/* Section about us */
.about-us__container {
    display: flex;
    gap: 32px;
    padding-bottom: 80px;
    justify-content: space-between;
}

.about-us__content {
    max-width: 709px;
    padding-top: 40px;
}

.about-us__title {
    margin-bottom: 40px;
    text-align: left;
}

.about-us__text {
    line-height: 38px;
    margin-bottom: 40px;
}

.about-us__text:last-child {
    margin-bottom: 0;
}

.about-us__images{
    max-width: 499px;
}

.about-us__image:last-child {
    max-width: 327px;
    max-height: 327px;
    margin-top: 40px;
     margin-left: 172px; 
}

/* Section whi us */
.whi-us__card {
    margin-bottom: 0;
    color: #000000;
    border: 1px solid gray;
    border-radius: 14px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.whi-us__list {
    display: flex;
    justify-content: space-between;
    gap: 56px;
}

.whi-us__item {
    padding: 24px 32px;
}


/* Section procedures */
.procedures__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    
}

.procedures__item {
flex-basis: cal(100%- 40px/3);
}

.procedures__card {
    background-color: blue;
    padding: 372px 77px 32px 115px;
    border: 0.1px solid blue;
    border-radius: 4px 120px 4px 120px;
}

.procedures__title {
    width: 152px;
    height: 52px;
    margin-bottom: 0;
    color: var(--color-primary-light);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

/* Section contacts */
.contacts__container {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.contacts__map {
    width: 605px;
    height: 481px;
    border: 0;
    border-radius: 32px;
}

.contacts__form {
    background-color: var(--color-primary);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-basis: 327px;
    padding: 48px 56px;
}

.contacts__form-title{
    color: var(--color-primary-light);
    font-weight: 600;
    line-height: 25.8px;
    text-align: center;
}

.privacy-policy {
    text-decoration: underline;
}

/* Footer */
.footer-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 56px 0;
}

footer {
    background-color: var(--color-primary);
}

.footer__nav-link, 
.footer__address-link, 
.footer__social-networks,
.footer__privacy-policy {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    line-height: 18.5px;
}

.footer__social {
    display: flex;
    gap: 24px;
}

.footer__copyright {
    color: #747272;
    font-size: 13px;
    font-style: 'beuty indian 2/H7';
    line-height: 15.23px;
}